.body{
  background-color: linear-gradient(black,black,blue);
  color: white; 
}

@font-face{
  font-family: "sofachrome";
  src: url('sofachrome.otf') format('otf');
}

.bigwords{
  font-size: 30px;
  font: 30px "sofachrome", sans-serif;
}
